// Overlay pour les modals

.overlay-modalRegisterLogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 999;
    display: none;
}

.overlay-modalMovie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 999;
    display: none;
}