// 1er swiper pour les résultats de recherche

// Faire des ajustements dans les height et width pour que les images/slides apparaissent proprement et pas croptés

.resultMovies-container {
    position: relative;
    max-width: 1080px;
    height: 380px;
    margin: 0 auto 95px;
    padding: 0 40px;
    /* border: 1px solid greenyellow; //juste pour voir */

    .resultMovies {
        height: 100%;
        overflow: hidden;
        /* border: 1px solid blue; //juste pour voir */

        p {
            color: #FFFFFF;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;
        }

        .swiper-container {
            height: 100%;
            width: 100%;
            /* border: 1px solid red; //juste pour voir */

            .swiper-slide {
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                /* border: 0.1px solid yellow; //juste pour voir */

                img {
                    height: 100%;
                    object-fit: cover;
                }

                .hoverImage {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: -5%;
                    transform: translateX(7.2%);
                    width: 234px;
                    height: 351px;
                    background: rgba(0, 0, 0, 0.9);

                    &:hover {
                        opacity: 1;
                    }

                    .hoverImageContent{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        row-gap: 23px;
                        width:100%;
                        height:100%;
                        color: white;
                        h1,h2{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 24.2px;
                            
                        }
                    
                        h3{
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 16.94px; 
                        }
                    
                        img{
                            width: 35px;
                            height: 34px;
                            margin-bottom: 4px;
                        }
                    
                        h4{
                            font-size: 32px;
                            font-weight: 700;
                            line-height: 38.73px;
                            color:red;
                        }
                    }
                }
            }

            .swiper-button-prev {
                left: -1px;
                /* position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer; */
            }
            
            .swiper-button-next {
                right: -1px;
                /* position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer; */
            }
        }
    }
}